<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foodtopia</title>

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Baloo|Candal|Carter+One|Righteous|Montserrat|Titan+One" rel="stylesheet">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link href="../../css/account/profile.css" rel="stylesheet">
    <!--template CSS-->
    <link href="../../css/template.css" rel="stylesheet">
</head>
<body>

<header>
    <div class="main-header">
        <h1 class="name"><a href="/">Foodtopia</a></h1>
        <a href="/logout">
            <button type="button" id="logout">Log out</button>
        </a>
    </div>

    <div class="nav">
        <ul>
            <li><a href="/">
                    <button type="button" class="home"><img class="nav-icon" src="../../icon/home-icon-silhouette.png">
                        <div>Home</div>
                    </button>
                </a></li>

            <li><a href="/lookup">
                    <button type="button" class="lookup"><img class="nav-icon" src="../../icon/magnifier.png">
                        <div>Lookup</div>
                    </button>
                </a></li>

            <li><a href="/games">
                    <button type="button" class="games"><img class="nav-icon" src="../../icon/gamepad-console.png">
                        <div>Games</div>
                    </button>
                </a></li>
        </ul>
    </div>
</header>

<div class="content">

    <div id="profile">
        <div class="profile-container">
            <img src="../../icon/user.png" class="user-img">
            <h3 class="username"><%= users.username %></h3>
            <ul class="profile-icons">
                <li>
                    <p>Badges</p>
                    <a href="#badges"><img src="../../icon/medal.png" class="icon"></a>
                    <p><%=users.badges%></p>
                </li>
                <li>
                    <p>Points</p>
                    <img src="../../icon/favorite.png" class="icon">
                    <p><%=users.points%></p>
                </li>
                <li><p>Journal</p>
                    <a href="#journal"><img src="../../icon/journal.png" class="icon"></a>
                    <p><%=users.journal%></p>
                </li>
            </ul>
        </div>
        <button class="info" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Gain points and badges by adding to your journal! ">
            <img src="../../icon/info.png">
        </button>
    </div>

    <div id="fact-day">
        <% var num = Math.floor(Math.random() * ingredients.length);%>
        <div class="food" id="fact-content">
            <h4 class="fact-heading">Food ingredient to explore:</h4>
            <div class="label"><%= ingredients[num].name %></div>
            <div class="img" style="background-image:url(<%= ingredients[num].img %>)" >
            </div>
            <div class="highlight">
                <p class=><%= ingredients[num].facts[0] %></p>
                <p class=><%= ingredients[num].facts[1] %></p>
            </div>
            <div class="readmore"><a href=<%="/lookup/"+ingredients[num].name%>><button>Read More</button></a></div>
        </div>

    </div>

    <div id="journal">
        <div class="subheading">
            <h2>My Journal</h2>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="add-btn" data-toggle="modal" data-target="#add-journal">+</button>

        <!-- Modal for journal -->
        <div class="modal fade" id="add-journal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" id="my-modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="my-modal-title">Create Journal Log</h5>
                        <button type="button" class="close" id="my-close-btn" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="journalentry" action="/journal" method="post">
                            <div class="container">
                                <label class="form-control-label" for="meal">What did you eat today?</label>
                                <input type="text" class="form-control" name="meal" required>

                                <label class="form-control-label" for="ingredients">What ingredients are in it? (Seperate the ingredients with commas)</label>
                                <input type="text" class="form-control" name="ingredients" required>

                                <label class="form-control-label" for="comments">Comments</label>
                                <textarea type="text" form="journalentry" class="form-control" name="comments" required> </textarea>

                                <div class="modal-footer">
                                    <button type="submit" class="post-btn" value="addEntry">Post</button>
                                </div>

                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>


        <!--Display all journals created by user-->
        <div class="journal-container">

            <!--Stores all the ingredients in the database-->
            <% var ingredientsInDatabase = ["apple", "banana", "tomato", "lemon", "avocado", "chili", "rosemary", "ginger-root", "basil",
                "cumin", "cinnamon", "clove", "spinach", "parsley", "garlic", "lettuce", "celery", "corn",
                "coriander", "mint", "cabbage", "sugar", "cheese", "milk", "butter", "yoghurt", "salt", "black-pepper",
                "potato", "flour", "mango", "rice", "apricot", "orange", "coconut", "watermelon", "lime", "carrot",
                "onion", "broccoli", "zucchini", "asparagus","cauliflower","beans","radish","beetroot","pea",
                "muskmelon", "grapes", "pear", "strawberry", "blueberry", "raspberry", "cranberry", "cucumber", "eggplant",
                "starfruit", "pumpkin", "kiwi", "peach", "cherry", "pineapple"
            ];%>

            <% if(journals.length === 0) { %>
                <h3 class="empty">No Posts yet :(</h3>
            <% } else { %>
                <% for(var i = 0; i < journals.length; i++) {%>
                <div class="journal-entry">
                        <h4 class="date"><%=journals[i].date%></h4>
                    <div class="journal-content">
                        <p class="journal-p"><b>What I ate:</b> <%=journals[i].meal%></p>

                        <p class="journal-p"><b>What it is made of:</b></p>
                        <!--display each ingredient the user inputted and link it to database if it's available-->
                        <% for (var j = 0; j < journals[i].ingredients.length; j++) {%>

                            <!--standardise the ingredients inputted by removing white spaces and making lower case-->
                            <% var ingredient = journals[i].ingredients[j].trim().toLowerCase()%>
                            <!--find index of the ingredient-->
                            <% var ingredientIndex = ingredientsInDatabase.indexOf(ingredient)%>

                            <!--if index is -1, it means its not in the database. Hence, donli create a link on it.-->
                            <% if( ingredientIndex > 0) { %>
                                <a target="_blank" href=<%="/lookup/" + ingredientsInDatabase[ingredientIndex]%>>
                                    <button class="linked"><%=journals[i].ingredients[j]%></button>
                                </a>
                            <% } else { %>
                                <%=journals[i].ingredients[j]%>
                            <% } %>

                            <!--put seperator between ingredients-->
                            <%if(j !== journals[i].ingredients.length - 1) { %>
                                <span> | </span>
                            <% } %>
                        <% } %>
                        <p class="journal-p"><b>Comments:</b></p>
                        <%=journals[i].comments%>
                    </div>
                </div>
                <%}%>
            <%}%>
        </div>


    </div>
    <div id="badges">
        <div class="subheading">
            <h2>My Badges</h2>
        </div>
        <div class="badges-container">
            <!--Display badges according to the number of badges earned-->
            <% if(users.badges === 0) { %>
                <div class="badge locked-container">
                    <div class="locked">
                        <h3>Gain <span>50</span> points</h3>
                        <h3>to unlock this badge!</h3>
                    </div>
                </div>
                <div class="badge locked-container">
                    <div class="locked">
                        <h3>Gain <span>100</span> points</h3>
                        <h3>to unlock this badge!</h3>
                    </div>
                </div>
                <div class="badge locked-container">
                    <div class="locked">
                        <h3>Gain <span>200</span> points</h3>
                        <h3>to unlock this badge!</h3>
                    </div>
                </div>
            <% } else if(users.badges == 1) { %>
                <div class="badge">
                    <img class="badge-img" src="../../icon/badges/bronze.png">
                </div>
                <div class="badge locked-container">
                    <div class="locked">
                        <h3>Gain <span>100</span> points</h3>
                        <h3>to unlock this badge!</h3>
                    </div>
                </div>
                <div class="badge locked-container">
                    <div class="locked">
                        <h3>Gain <span>200</span> points</h3>
                        <h3>to unlock this badge!</h3>
                    </div>
                </div>

            <% } else if(users.badges == 2) { %>
                <div class="badge">
                    <img class="badge-img" src="../../icon/badges/bronze.png">
                </div>
                <div class="badge">
                    <img class="badge-img" src="../../icon/badges/silver.png">
                </div>
                <div class="badge locked-container">
                    <div class="locked">
                        <h3>Gain <span>200</span> points</h3>
                        <h3>to unlock this badge!</h3>
                    </div>
                </div>
            <% } else if(users.badges == 3) { %>
                <div class="badge">
                    <img class="badge-img" src="../../icon/badges/bronze.png">
                </div>
                <div class="badge">
                    <img class="badge-img" src="../../icon/badges/silver.png">
                </div>
                <div class="badge">
                    <img class="badge-img" src="../../icon/badges/gold.png">
                </div>
            <% } %>

        </div>
    </div>
</div>

<footer class="footer">
    <p class='copyright'>&copy; 2018 Foodtopia</span></p>
</footer>

<!--Bootstrap-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

<!--enable popovers in this page-->
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

</body>
</html>